.hidden {
  display: none;
}

/* #region body */

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  background-color: #fbfbfb;
}

/* #endregion */

/* #region reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion */

/* #region common */

.container {
  padding: 0 20px;
  max-width: 375px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 64px;
    max-width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion */

/* #region header */

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.container.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu,
.header-socials {
  display: none;
}

.header-logo {
  display: block;
  padding: 7.5px 0;
}

.burger-btn {
  background-color: transparent;
  padding: 12px 4px;
}

.burger-icon {
  display: block;
  stroke: #0c0c0c;
  stroke-width: 2.5px;
}

@media screen and (min-width: 768px) {
  .container.header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-logo {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
  }

  .burger-btn {
    padding: 14px 5px;
  }
  .burger-icon {
    width: 33px;
    height: 15px;
    stroke-width: 3px;
  }
}

@media screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }

  .container.header-container {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 203px;
  }

  .header-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;

    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
  }

  .header-menu-link {
    transition: color 300ms ease-in, transform 300ms ease-in;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #3350e9;
    transform: scale(1.1);
  }

  .header-menu-link::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #3350e9;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 4px;
    opacity: 0;
    transition: opacity 300ms ease-in;
  }

  .header-menu-link.current::after {
    opacity: 1;
  }

  .header-socials {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
  }
  .header-socials-item {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;

    transition: border-color 300ms ease-in;
  }

  .header-socials-item:hover {
    border: 1px solid 1px solid rgba(51, 80, 233, 0.1);
  }

  .header-socials-icon {
    transition: fill 300ms ease-in;
  }

  .header-socials-link:hover .header-socials-icon {
    fill: #3350e9;
  }
}

/* #endregion */

/* #region hero section 1 */

.container.hero-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  margin-bottom: 20px;
}

.hero-accent {
  color: #3350e9;
}

.hero-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}

.hero-content-left {
  display: flex;
  gap: 155px;
  margin-bottom: 28px;
  align-items: baseline;
}

.hero-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.hero-icon {
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .container.hero-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .hero-content {
    display: flex;
    gap: 11px;
    margin-bottom: 40px;
  }

  .hero-content-right {
    flex-direction: column;
  }

  .hero-content-left {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 0;
    flex-shrink: 0;
  }

  .hero-btn {
    font-size: 20px;
  }

  .hero-title {
    font-weight: 600;
    font-size: 70px;
    line-height: 0.85714;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }
  .hero-desc {
    max-width: 480px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-content {
    gap: 407px;
  }

  .hero-title {
    font-size: 72px;
  }
}

/* #endregion */

/* #region about-us section 2 */

.about-content {
  background: #f3f3f3;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.about-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;

  margin-bottom: 28px;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.about-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.about-btn {
  display: block;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  padding: 15px 38px;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;

  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;

  transition: background-color 300ms ease-in;
}

.about-btn:hover,
.about-btn:focus {
  background-color: teal;
}

@media screen and (min-width: 768px) {
  .about-content {
    padding: 80px 60px;
  }

  .about-title {
    font-size: 48px;
    line-height: 0.92;
  }

  .about-desc {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .container.about-container {
    display: flex;
    align-items: stretch;
    gap: 40px;
  }

  .about-content {
    margin-bottom: 0;
  }
  .about-img {
    flex-shrink: 0;
  }
}

/* #endregion */

/* #region mobile-menu */

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;

  background-color: #0c0c0c;
  width: 200px;
  height: 100%;
  transform: translateX(-100%);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: transform 700ms ease-in, opacity 700ms ease-in;
}

.mobile-menu.is-open {
  transform: translateX(calc(100vw - 200px));

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.container.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 240px 39px 40px;
}

.mobile-menu-btn {
  width: 34px;
  height: 34px;
  background-color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 20px;
  right: 22px;
}

.mobile-menu-icon {
  stroke: #fbfbfb;
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
}

.mobile-nav-item {
  position: relative;
}

.mobile-nav-link {
  display: block;
}
.mobile-nav-link.current::after {
  position: absolute;
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 15px;
  width: 8px;
  height: 8px;
  background-color: #3350e9;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 2px;
  opacity: 1;
}

.mobile-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.mobile-socials-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  background-color: inherit;
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
}

.mobile-social-icon {
  fill: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 330px;
  }

  .container.mobile-menu-container {
    padding: 310px 100px 50px;
  }

  .mobile-menu.is-open {
    transform: translateX(calc(100vw - 330px));
  }

  .mobile-nav-list {
    gap: 32px;
  }

  .mobile-socials {
    gap: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */
